<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.autumn.mybatis.decorate.UserRepository">

    <!-- 查询列表(简化前） -->
    <select id="findAllOld1" resultType="org.autumn.mybatis.domain.user.UserBean">
        SELECT U.USER_ID, U.USER_NAME, U.AGE, U.SALARY
        FROM PF_USER U
        <where>
            <if test="null != userId and '' != userId">
                and U.USER_ID = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="null != userName and '' != userName">
                <!-- h2或oracle -->
                and U.USER_NAME LIKE '%'||#{userName, jdbcType=VARCHAR}||'%'
            </if>
        </where>
        ORDER BY U.USER_ID
    </select>

    <!-- 查询列表(简化前） -->
    <select id="findAllOld" resultType="org.autumn.mybatis.domain.user.UserBean">
        SELECT U.USER_ID, U.USER_NAME, U.AGE, U.SALARY
        FROM PF_USER U
        <where>
            <if test="null != userId and '' != userId">
                and U.USER_ID = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="null != userName and '' != userName">
                <choose>
                    <when test="_databaseId = 'mysql">
                        and U.USER_NAME LIKE "%"#{userName, jdbcType=VARCHAR}"%"
                    </when>
                    <otherwise>
                        and U.USER_NAME LIKE '%'||#{userName, jdbcType=VARCHAR}||'%'
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY U.USER_ID
    </select>

    <!-- 查询列表 -->
    <select id="findAll" resultType="org.autumn.mybatis.domain.user.UserBean">
        SELECT
        <bind name="#fields" value="U.PF_USER,AGE"/>
        FROM PF_USER U
        <bind name="#if" value="where, U.USER_ID, like U.USER_NAME"/>
        ORDER BY U.USER_ID
    </select>

    <!-- 查找 -->
    <select id="find" resultType="org.autumn.mybatis.domain.user.UserBean">
        SELECT
        <bind name="#fields" value="U.PF_USER"/>
        FROM PF_USER U
        WHERE U.USER_ID = #{userId, jdbcType=VARCHAR}
    </select>

    <!-- 添加 -->
    <insert id="insertOld">
        INSERT INTO PF_USER(<bind name="#fields.name" value="PF_USER"/>)
        VALUES(#{userId, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER},
        #{salary, jdbcType=DECIMAL})
    </insert>

    <!-- 添加 -->
    <insert id="insert">
        <bind name="#insert" value="PF_USER"/>
    </insert>

    <!-- 修改 -->
    <update id="update">
        <bind name="#update" value="PF_USER"/>
    </update>

    <!-- 删除 -->
    <delete id="delete">
        <bind name="#delete" value="PF_USER"/>
    </delete>
</mapper>
